{% extends '::base.html.twig' %}

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/inde.css') }}" >
        <link rel="stylesheet" href="{{ asset('js/bootstrap-3/css/bootstrap.css') }}">
    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/bootstrap-3/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    {% endblock %}

{% block body %}
    <h1>Проверка</h1>
{% endblock %}